@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


.con-1 {
    background-color: #1f1d41;
    margin: 11px;
    margin-left: 70px;
    width: 57px;
    height: 190px;
    border-radius: 18px;
}

.sg-1 {
    background-color: #4b5069;
    border-radius: 44px;
    margin: 10px;
    width: 35px;
    height: 35px;
}
.sg-2 {
    background-color: black;
    border-radius: 44px;
    margin: 10px;
    width: 35px;
    height: 35px;
}